html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: auto;
  height: auto;
}