$color-white: #fff;
$color-light-gray-a: #e1e1e1;
$color-light-gray-b: #f5f5f7;
$color-gray-a: #999999;
$color-gray-b: #aeaeae;
$color-gray-blue: #ededf6;
$color-gray-suit: #b5b5c8;
$color-orange-a: #fc6a42;
$color-orange-b: #fc734e;
$color-light-orange: #f2a14e;
$color-red: #ff4a4f;
$color-yellow: #fcec64;
$color-sapphire-a: #353854;
$color-sapphire-b: #434769;
$color-sapphire-c: #565b87;
$color-dark-blue: #4466c9;
$color-light-blue-a: #6ca3ff;
$color-light-blue-b: #648cff;
$color-light-blue-c: #86a5fd;
$color-rainy: #b8faee;
$color-rainy-blue: #7693c8;