$xxs: 320px;
$xs: 375px;
$small: 420px;
$medium: 667px;
$tablet: 768px;
$tablet-medium: 960px;
$tablet-large: 1023px;
$desk-small: 1280px;
$laptop: 1360px;
$laptop-max: 1440px;
$desk-medium: 1650px;
$desk-max: 1920px;
