.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  &--lg {
    width: 90px;
    height: 90px;
  }
  &--sm {
    width: 56px;
    height: 56px;
  }
  &--orange {
    background: $color-orange-a;
    color: $color-white;
  }
  &--light-blue {
    background: $color-light-blue-a;
    color: $color-white;
    font-size: 1.875rem;
  }
  &--dark-blue {
    background: $color-dark-blue;
    color: $color-white;
  }
  &--white {
    background: $color-white;
    color: $color-light-blue-a;
  }
  &--yellow {
    background: $color-yellow;
    color: $color-light-blue-b;
  }
  &--yellow-w {
    background: $color-yellow;
    color: $color-white;
    text-transform: capitalize;
  }
  &--orange {
    background: $color-orange-a;
    color: $color-white;
  }
  &--orange-l {
    background: $color-orange-a;
    color: $color-white;
    font-size: 1.875rem;
  }
  &--light-orange {
    background: $color-light-orange;
    color: $color-white;
    text-transform: capitalize;
  }
  &--rainy {
    background: $color-rainy;
    color: $color-sky-gray;
    text-transform: capitalize;
  }
  &--rainy-blue {
    background: $color-rainy-blue;
    color: $color-white;
    font-size: 1.875rem;
  }
}