.download {
  margin-top: 100px;
  position: relative;
  height: 462px;
  display: flex;
  align-items: center;
  &__title {
    font-size: 2.25rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-white;
  }
  &__subtitle {
    max-width: 365px;
    padding-top: 15px;
    font-size: 1.125rem;
    color: $color-white;
  }
  &__buttons {
    padding-top: 15px;
    display: flex;
  }
  &__button-image {
    &:first-child {
      padding-right: 5px;
    }
  }
  &--light-blue {
    background: $color-light-blue-b;
  }
  &--phones {
    position: absolute;
    bottom: 0;
    right: 220px;
    width: 716px;
    height: 399px;
    background: url(images/d-bg-phones.png) no-repeat;
  }
}

@media screen and (max-width: $desk-medium) {
  .download {
    &--phones {
      right: 10px;
    }
  }
}

@media screen and (min-width: $xs) and (max-width: $desk-small) {
  .download {
    &__buttons {
      justify-content: center;
    }
  }
}

@media screen and (max-width: $desk-small) {
  .download {
    margin-top: 60px;
    &__content {
      text-align: center;
    }
    &__subtitle {
      margin: 0 auto;
    }
    &--phones {
      display: none;
    }
  }
}
@media screen and (max-width: $medium) {
  .download {
    &__title {
      font-size: 1.5rem;
    }
  }
}
