.nav {
  &__list {
    display: inline-flex;
    list-style-type: none;
  }
  &__item {
    font-size: 1.125rem;
    padding-right: 80px;
    & > a {
      color: $color-light-gray-a;
      text-decoration: none;
      text-transform: capitalize;
      transition: color .25s;
      &:hover {
        color: $color-white;
      }
    }
    &--gray {
      & > a {
        color: $color-gray-suit;
      }
    }
    &:last-child {
      padding-right: 0;
    }
  }
}