.screenshot {
  padding-top: 250px;
  display: flex;
  &:first-child {
    padding-top: 0;
  }
  &:nth-child(even) {
    & > .screenshot__image-container {
      order: 1;
    }
  }
  &__image-container {
    position: relative;
    margin-left: 90px;
    margin-right: 180px;
  }
  &__image {
    position: relative;
    z-index: 2;
  }
  &__content {
    flex: 0 1 41.66%;
    align-self: center;
    margin-right: 120px;
  }
  &__icon {
    &--cloudy {
      width: 121px;
      height: 63px;
      background: url(images/ss-icon-cloudy.png) no-repeat;
    }
    &--sunny {
      width: 62px;
      height: 62px;
      background: url(images/ss-icon-sunny.png) no-repeat;
    }
    &--rainy {
      width: 137px;
      height: 63px;
      background: url(images/ss-icon-rainy.png) no-repeat;
    }
  }
  &__header {
    padding-top: 35px;
  }
  &__title {
    font-size: 2.25rem;
    color: $color-light-blue-b;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__subtitle {
    font-size: 1.5rem;
    color: $color-sapphire-a;
  }
  &__tags {
    padding-top: 20px;
    display: flex;
    list-style-type: none;
  }
  &__tag {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 9px 0 20px rgba(0,0,0, .07);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: bold;
    color: #c3cfe5;
    margin-left: -15px;
    background: $color-white;
    &:first-child {
      z-index: 3;
    }
    &:nth-child(2) {
      z-index: 2;
    }
  }
  &__circle {
    position: absolute;
    z-index: 3;
    &--left {
      left: -22%;
      top: 64%;
    }
    &--right {
      right: -13%;
      top: 27%;
    }
  }
  &__background-text {
    position: absolute;
    top: 50%;
    z-index: 1;
    font-size: 16rem;
    font-weight: 300;
    line-height: 0;
    text-transform: capitalize;
    transform: rotateZ(90deg);
    color: $color-gray-blue;
    &--cloudy {
      left: -32%;
    }
    &--sunny {
      left: -10%;
    }
    &--rainy {
      left: 10%;
    }
  }
}

@media screen and (min-width: $tablet-medium) and (max-width: $tablet-large) {
  .screenshot {
    &:nth-child(even) {
      & > .screenshot__image-container {
        order: 0;
      }
    }
    &__image-container {
      margin: 0 auto;
    }
    &__content {
      margin-right: 0;
      margin-left: 150px;
    }
  }
}

@media screen and (min-width: $tablet) and (max-width: $tablet-medium) {
  .screenshot {
    &:nth-child(even) {
      & > .screenshot__image-container {
        order: 0;
      }
    }
    &__image-container {
      margin: 0 auto;
    }
    &__content {
      margin-right: 0;
      margin-left: 60px;
    }
    &__circle {
      &--left {
        left: -12%;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .screenshot {
    padding-top: 100px;
    flex-direction: column;
    &:nth-child(even) {
      & > .screenshot__image-container {
        order: 0;
      }
    }
    &__image-container {
      margin: 0 auto;
    }
    &__content {
      padding-top: 40px;
      flex: 0 1 100%;
      margin: 0;
    }
    &__header {
      text-align: center;
    }
    &__icon {
      margin: 0 auto;
    }
    &__title {
      font-size: 1.75rem;
    }
    &__subtitle {
      font-size: 1.25rem;
    }
    &__tags {
      justify-content: center;
    }
    &__circle {
      display: none;
    }
    &__background-text {
      display: none;
    }
  }
}
